<section class="form-container">
  <h1>Add Employee</h1>

  <form [formGroup]="EmployeeForm" (ngSubmit)="onSubmitButton()">
    <section class="row1 row">
      <section class="employee-details">
        <label for="UserId">Employee Id:</label>
        <input
          type="text"
          id="UserId"
          placeholder="Enter Id"
          formControlName="id"
        />
      </section>
      <section class="employee-details">
        <label for="UserName">Name</label>
        <input
          type="text"
          id="UserName"
          placeholder="Enter Name"
          formControlName="name"
        />
      </section>
    </section>

    <section class="row2 row">
      <section class="employee-details">
        <label for="UserContact">Contact number:</label>
        <input
          type="number"
          id="UserContact"
          placeholder="Enter contact number"
          formControlName="contact"
        />
      </section>
      <section class="employee-details">
        <label for="UserEmail">Email:</label>
        <input
          type="text"
          id="UserEmail"
          placeholder="Enter Email"
          formControlName="email"
        />
      </section>
    </section>

    <section class="row3 row">
      <section class="employee-details skill-container">
        <label>Skills</label>
        <button (click)="onAddSkillButton()">Add Skill</button>
      </section>
      <section class="employee-details">
        <label> Gender:</label>
        <section>
          <input
            type="radio"
            name="gender"
            value="male"
            id="male"
            formControlName="gender"
          />
          <label for="male">Male</label>

          <input
            type="radio"
            name="gender"
            value="female"
            id="female"
            formControlName="gender"
          />
          <label for="female">Female</label>
        </section>
      </section>
    </section>

    <section formArrayName="skills">
      @for(item of skills.controls ;track item ;let i=$index){

      <section [formGroupName]="i">
        <textarea
          name=""
          id=""
          cols="20"
          rows="1"
          placeholder="Enter Skill Name"
          formControlName="skill"
        ></textarea>
        <select formControlName="experience">
          <option value="none" hidden>Select Experince</option>
          <option value="Beginner">No Experince</option>
          <option value="Intermediate">Medium Experince</option>
          <option value="Experinced">High Experince</option>
        </select>
        <button (click)="onDeleteButton(i)">Delete</button>
      </section>
      }
    </section>
    <button type="submit">Submit Data</button>
  </form>

  <pre
    >{{ EmployeeForm.value | json }}
</pre
  >
  <style>
    .employee-details {
      display: flex;
      flex-direction: column;
    }

    .row {
      display: flex;
      gap: 20px;
    }

    textarea {
      resize: none;
    }

    .skill-container {
      display: inline;
      width: 170px;
    }
  </style>
</section>
