<section class="employee-list-container">
  <section class="employee-btn-container">
    <button class="add-btn" (click)="onAddEmployee()">Add Employee</button>
  </section>
  <section class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Gender</th>
          <th>Skills</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for(item of userData; track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.contact }}</td>
          <td>{{ item.gender }}</td>
          <td>
            <ol>
              @for(list of item.skills; track $index){
              <li>{{ list.skill }} (Exp.{{ list.experience }} years)</li>
              }
            </ol>
          </td>
          <td>
            <button [routerLink]="['/EditEmployeeDetails', item.id]">
              <img src="assets/icons/edit-icon.png" alt="" />
            </button>
            <button (click)="OnDeleteItem(item.id)">
              <img src="assets/icons/delete-icon.jpg" alt="" />
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </section>
</section>

<!-- <router-outlet></router-outlet> -->

<style>
  .employee-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 15px;
    top: 20px;
  }
  .employee-btn-container {
    width: 98%;
    text-align: end;
  }

  .table-container {
    margin-top: 10px;
  }

  .employee-btn-container button {
    background-color: rgb(7, 161, 7);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
  }

  table {
    width: 98%;
  }

  th {
    text-align: start;
  }

  table,
  td {
    border-top: 1px solid grey;
    border-collapse: collapse;
  }
  tbody > tr:nth-child(odd) {
    background-color: #cfcece;
  }
  th {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  img {
    width: 20px;
  }

  button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
  }

  tbody > tr:hover {
    background-color: #b0b0b0;
  }
  button:hover {
    background-color: transparent;
    cursor: pointer;
  }

  @media (max-width: 800px) {
    .employee-list-container {
      position: relative;
      left: 0px;
    }
  }

  @media (max-width: 600px) {
    table {
      font-size: smaller;
    }
  }
</style>
